@using Ireview.Core.Model
@using Ireview.Infrastructure.Contexts.Repositories
@using Microsoft.AspNetCore.Identity
@using Ireview.Web.Models.Profile
@using Ireview.Infrastructure.Identity.Models
@inject UserManager<AppUser> UserManager
@model UserProfileViewModel

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="row justify-content-center">
    <div class="row justify-content-center">
        <div class="col me-md-3">
            <div class="row justify-content-md-start justify-content-center ">
                <img src="/resources/Logo_icon.png" style="width:250px;height:250px" class="align-self-center" />
                <div class="col border mt-4 mt-md-0">
                    <h3>@Model.UserName</h3>
                    <p>Name: @Model.FirstName</p>
                    <p>Surname: @Model.SecondName</p>
                    <p>Gender: @Model.Gender</p>
                    <p>Email: @Model.Email</p>
                    <p>Account created @Model.RegisterDate.Value.Date.ToString("dd/MM/yyyy")</p>
                    <div class="row justify-content-end m-2">
                        <a class="btn btn-outline-primary m-0" style="border-radius:5px; width:100px">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 bg-primary mt-4 mt-md-0" style="border-radius:5px;">
            <p class="text-light">Amount of posts</p>
        </div>
    </div>
    <div class="col border mt-5 m-2" style="border-radius: 15px 15px 0px 0px">
        <div class="row bg-primary" style=" border-radius: 15px 15px 0px 0px">
            <div class="row justify-content-between m-1">
                <h3 class="text-light w-25 align-self-center p-0">Articles</h3>
                <a class="btn btn-outline-light btn-smhh" style="border-radius: 10px; width:200px" asp-action="ArticleCreation" asp-controller="Account"><i class="bi bi-plus-circle me-2"></i>New Article</a>
            </div>
         
        </div>
        @foreach(var item in Model.Articles.dbSet.Where(x => x.User.Id == Model.Id)){
                <div class="p-2 mt-4 " style="border-radius:10px; border:solid 5px black">
                    <h1> @item.Title</h1>
                    <label> @item.Header</label>
                    <img src="@item.ImageSource" class="w-100 border border-2 border-black mt-2" height="200" style="object-fit:cover" />
                    <hr/>
                    <div style="height:200px;overflow: hidden; position:relative">
                    <div style="box-shadow:inset 0px -80px 30px -30px #fff;position:absolute;height:200px; width:100%">
                    </div>
                    <p>@item.Text</p>
                        
                    </div>

                    <div class="row justify-content-end me-1 mt-2">
                        <a class="btn btn-outline-primary btn-sm" style="border-radius: 10px; width:200px">Learn more</a>
                    </div>
                </div>
        }
    </div>
</div>